extends layout

block content
  include includes/nav.pug
  div(class='about')
    h1 Our Story
    div(class='logo')
      img(src='../images/downtown-donuts-dark-logo.png')
    //-div(class='text')
    include includes/sample-text.pug
    