extends layout

//- -var url = "http://127.0.0.1:3000"

block content
  include includes/nav.pug
  div(class='landing')




  
    //- p test
    //- ol
    //- each val in todos
    //-   li
    //-     span= val.task + ' - '
    //-     if val.completed > 0
    //-       span Completed
    //-     else
    //-       pan Not Completed
    //-     form(method='POST' action='/delete')
    //-       input(type='hidden', name='id', value=val.id)
    //-       button(type='submit') Delete

    //- hr
    //- h2 Add a new task
    //- form(method='POST' action='/create')
    //-   label(for='task') Task:
    //-   input(type='text', name='task', id='task', required)
    //-   button(type='submit') Create Task
