extends layout

block content
  include includes/nav.pug
  div(class='menu')
    h1 Menu
    hr
    h2 Donuts
    include includes/sample-text.pug
    include includes/sample-text.pug
    hr
    h2 Coffee
    include includes/sample-text.pug
    include includes/sample-text.pug