
/* Add variables */
:root {
  --bg-color: #F7F7F7;
  --text-color: black;
  --nav-color: #10291D;
  --nav-text-color: #F7F7F7;
  --accent-color: #F7C64A;
}

/* Body */

body {
  /* padding: 50px; */
  font: 14px "Montserrat Regular";
  background: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

body * :not(button):not(input) {
  color: var(--text-color);
}

p {
  font: 16px "Montserrat Regular";
}

h1 {
  font: 60px "Montserrat Regular";
}

h2 {
  font: 30px "Montserrat Regular";
}

h3 {
  font: 24px "Montserrat Regular";
}

input {
  font: 16px "Montserrat Regular";
}

/* Navigation Bar */

.nav-container {
  display: flex;
  background-color: var(--nav-color);
  height: 95px;
  justify-content: left;
  border-bottom: solid var(--accent-color) 10px;
  /*float: top;*/
  margin: 0px;
}

.navbar {
  /* max-width: 1200px; */
  background-color: var(--nav-color);
  /* margin: 100px auto; */
  display:flex;
  /* justify-content: left; */
  /* border: solid #F7C64A 3px; */
  flex-direction: row;
  gap: 30px;
  margin-left: 30px;
}

.navbar img {
  margin: 10px 20px 10px 40px;
  max-height: 80px;
  max-width: 80px;
}

.navbar > a {
  /* align-content: center; */
  align-self: center;
  display: inline;
  color: var(--nav-text-color);
  /* border: solid #F7C64A 1px; */
  font-family: 'Montserrat Regular'; 
  font-size: 20px;
  /* margin: 5px 30px 5px 30px; */
  /* text-align: center; */
  text-decoration: none;
}

.navbar a:hover {
  color: #7e7f9a;
}


/* Landing Page */

.landing {
  padding: 10px;
  margin: 0px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.landing img {
  width: auto;
  max-height: 400px;
  margin: auto;
}

/* Menu Page */
.menu {

}

/* About Page */

.about {
  padding: 10px;
  margin: 0px;
  min-height: calc(100vh - 125px);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  background-color: var(--bg-color);
  border-right: double var(--accent-color) 3px;
  border-left: double var(--accent-color) 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  color: var(--text-color);
  display: inline;
}

.about hr {
  color: var(--text-color);
  display: inline;
}

.about .logo {
  height: 400px;
  width: 500px;
  background-color: #10291D;
  align-items:center;
  padding: 20px;
  border-radius: 40px;
  display: flex;
}

.about .logo img {
  height: 300px;
  margin: auto;
  margin-bottom: 70px;
}

.about p {
  color: var(--text-color);
  margin-left: 40px;
  margin-right: 40px;
}

/* Reviews page */
.reviews {
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.text-entry {
  display: flex;
  flex-direction: column;
}

.text-entry > * :not(hr) {
  margin: 3px;
}

.text-entry form {
  display: flex;
  flex-direction: column;
  font: 16px "Montserrat Regular";
}

.text-entry input {
  width: 220px;
  height: 20px;
}

.text-entry textarea {
}

.text-entry button {
  background-color: var(--accent-color);
  width: 70px;
  height: 35px;
  color: #1e4b35;
  font: 20px "Montserrat Regular";
  border-radius: 5px;
}

.posted-reviews {
  margin-top: 25px;
}

.posted-reviews h2 {
  background-color: var(--nav-color);
  display: inline;
  color: var(--accent-color);
  border-radius: 8px;
  padding: 15px 55px 15px 55px;
}

.posted-reviews ul {
  margin-top: 30px;
}

.posted-reviews li {
  list-style-type: none;
  padding: 20px;
}

.posted-reviews li span {
  margin: 10px;
  display: inline;
  padding: 10px;
}

.posted-reviews button {
  background-color: red;
  color: #F7F7F7;
  border-radius: 4px;
  margin: 6px;
  margin-left: 20px;
}