
/* Add variables */
:root {
  --bg-color: #F7F7F7;
  --text-color: black;
  --nav-color: #10291D;
  --nav-text-color: #F7F7F7;
}


body {
  /* padding: 50px; */
  font: 14px "Montserrat Regular";
  background: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

body * :not(button):not(input) {
  color: var(--text-color);
}

p {
  font: 18px "Montserrat Regular";
}

/* Navigation Bar Style */

.nav-container {
  display: flex;
  background-color: var(--nav-color);
  height: 95px;
  justify-content: left;
  border-bottom: solid #F7C64A 10px;
  /*float: top;*/
  margin: 0px;
}

.navbar {
  /* max-width: 1200px; */
  background-color: var(--nav-color);
  /* margin: 100px auto; */
  display:flex;
  /* justify-content: left; */
  /* border: solid #F7C64A 3px; */
  flex-direction: row;
  gap: 30px;
  margin-left: 30px;
}

.navbar img {
  margin: 10px 20px 10px 40px;
  max-height: 80px;
  max-width: 80px;
}

.navbar > a {
  /* align-content: center; */
  align-self: center;
  display: inline;
  color: var(--nav-text-color);
  /* border: solid #F7C64A 1px; */
  font-family: 'Montserrat Regular'; 
  font-size: 20px;
  /* margin: 5px 30px 5px 30px; */
  /* text-align: center; */
  text-decoration: none;
}

.navbar a:hover {
  color: #7e7f9a;
}


/* Style for each page */

.landing {
  padding: 40px;
}

.menu {

}

.about {
  padding: 10px;
  margin: 0px;
  min-height: calc(100vh - 125px);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  background-color: #F7F7F7;
  border-right: double #F7C64A 3px;
  border-left: double #F7C64A 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  color: var(--text-color);
  display: inline;
  font-size: 60px;
}

.about .logo {
  height: 400px;
  width: 500px;
  background-color: #10291D;
  align-items:center;
  padding: 20px;
  border-radius: 40px;
  display: flex;
}

.about .logo img {
  height: 300px;
  margin: auto;
  margin-bottom: 70px;
}

.about p {
  color: var(--text-color);
  margin-left: 40px;
  margin-right: 40px;
}

.reviews {
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}